:root {
  --dark-gray: #262b32;
  --gray: #3a3e42;
  --light-gray: #ece9e9;
  --very-light-gray: #fafafa;
  --red: #ec168f;
  --pale-pink: #fcc0e2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button{
  border: none;
  cursor: pointer;
  font-size: x-large;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
}
header > nav {
  display: flex;
  justify-content: space-evenly;
  width: 20rem;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 2rem 0;
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}

footer > .logo {
  display: flex;
  align-items: center;
}

footer > .logo > img {
  height: 3.5rem;
}

footer > .social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 12rem;
  font-size: x-large;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.card {
  display: flex;
  justify-content: start;
  flex-direction: column;
  border-radius: 1rem;
  align-items: center;
  width: 13rem;
}

.card img {
  max-width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.detailData{
  font-size: medium;
  padding: 0.5rem;
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 65vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.fa-heart{
  
  padding: 0.5rem 0;
  color: var(--pale-pink);
}

.favorited{
  color: var(--red);
}

.light {
  background-color: var(--very-light-gray);
  color: var(--dark-gray);
}

.lighter {
  background-color: var(--light-gray);
  color: var(--dark-gray);
}

.dark {
  background-color: var(--gray);
  color: var(--very-light-gray);
}

.darker {
  background-color: var(--dark-gray);
  color: var(--very-light-gray);
}
